@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Satisfy&display=swap');
/* font-family: 'Indie Flower', cursive;
font-family: 'Lora', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

@layer base{
    h1,h2,h3,h4,h5,h6,h7{
        @apply font-lora py-4;
    }
    h1{
        @apply text-7xl xl:text-9xl;
    }
    h2{
        @apply text-5xl md:text-6xl xl:text-8xl;
    }
    h3{
        @apply  md:text-4xl xl:text-6xl;
    }
    h4{
        @apply  md:text-3xl xl:text-5xl
    }
    h5{
        @apply  md:text-xl xl:text-3xl
    }
    h6{
        @apply  md:text-lg xl:text-2xl
    }
    .btnRectangle{
        @apply font-roboto text-sm md:text-lg lg:text-2xl border-2 w-fit px-3 md:py-1 rounded-md;
    }
    .btnOval{
        @apply flex items-center flex-nowrap space-x-2 font-roboto lg:text-2xl border-2 border-hidden w-fit px-5 py-1 rounded-3xl ;
    }
    form{
        @apply flex flex-col  items-center;
    }
    form input{
        @apply text-2xl m-2 border-2 rounded-md px-4 py-2;
    }
}